<div fxLayout='row' fxLayoutGap='30px'>
	<rb-pid #pitchPid fxFlex="10%"
			(saveRequest)=saveSettings($event)>
	</rb-pid>
	<rb-char #pitchChar fxFlex="auto"
			[y]="[{ 
					label: 'Pitch', 
					field: 'current',
					type: 1 },
				{ 
					label: 'Proportional output', 
					field: 'proportionalOutput',
					type: 2 },
				{ 
					label: 'Derivative output', 
					field: 'derivativeOutput',
					type: 2 },
				{ 
					label: 'Integral output', 
					field: 'integralOutput',
					type: 2 },
				{ 
					label: 'Output', 
					field: 'output',
					type: 2 }]"
			[x]="'index'"
			(enableChange)=pollingEnable($event)>
	</rb-char>
</div>
