<div *ngIf='config' fxLayout='column'>
	<section>
		<mat-slide-toggle
			(change)="onEnabledChanged( $event )"
			[ngModel]="config.enabled"
		>
			Enabled
		</mat-slide-toggle>
	</section>
	<section fxLayout='column'>
		<mat-form-field>
			<input matInput placeholder="SSID" disabled value={{config.bss.ssid}}>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="IP" disabled value={{config.network.ip}}>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Mask" disabled value={{config.network.netmask}}>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Gateway" disabled value={{config.network.gateway}}>
		</mat-form-field>
	</section>
</div>
