<div fxLayout='column' fxLayoutAlign="end start" fxLayoutGap='20px'>
	<mat-form-field > 
		<input matInput placeholder="Proportional gain" name="proportinal" 
				[(ngModel)]="newVal.proportional">
		<mat-hint align="end">Current value: {{current.proportional}}</mat-hint>
	</mat-form-field>

	<mat-form-field > 
		<input matInput type="number" placeholder="Integral gain" name="integral" 
				[(ngModel)]="newVal.integral">
		<mat-hint align="end">Current value: {{current.integral}}</mat-hint>
	</mat-form-field>
	
	<mat-form-field > 
		<input matInput placeholder="Derivative gain" name="derivative" 
				[(ngModel)]="newVal.derivative">
		<mat-hint align="end">Current value: {{current.derivative}}</mat-hint>
	</mat-form-field>
</div>