/thirdparty/
/no_git/
/esp-12f_adaptrer/*.workspace
/esp-12f_adaptrer/*.pdsbak
/schematics/*.workspace
/schematics/*.pdsbak
/piccode/*.ccspjt
/piccode/src/*.err
/piccode/src/*.o
/piccode/src/*.osym
**/mpl/*
!**/mpl/nbproject
!**/mpl/Makefile
**/mpl/nbproject/*
!**/mpl/nbproject/*.xml
/esp8266/Release/
/esp8266/include/wifiproperties.h