/thirdparty/
/no_git/
/schematics/*.workspace
/schematics/*.pdsbak
/piccode/*.ccspjt
/piccode/src/*.err
/piccode/src/*.o
/piccode/src/*.osym
**/mpl/*
!**/mpl/nbproject
!**/mpl/Makefile
**/mpl/nbproject/*
!**/mpl/nbproject/*.xml
