build/

/thirdparty/
/no_git/

/esp-12f_adaptrer/*.workspace
/esp-12f_adaptrer/*.pdsbak

/piccode/*.ccspjt
/piccode/src/*.err
/piccode/src/*.o
/piccode/src/*.osym
**/mpl/*
!**/mpl/nbproject
!**/mpl/Makefile
!**/mpl/*.mc3
!**/mpl/mcc_generated_files/
**/mpl/nbproject/*
!**/mpl/nbproject/*.xml

/esp8266/.settings/
/esp8266/Release/
/esp8266/include/wifiproperties.h

node_modules/

*.kicad_pcb-bak
*.bak