<div class="container">
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<table *ngIf="pitchState" class="table table-bordered">
				<tr>
					<td>Target</td>
					<td>{{pitchState.current}}</td>
				</tr>
				<tr>
					<td>Current</td>
					<td>{{pitchState.target}}</td>
				</tr>
				<tr>
					<td>Error</td>
					<td>{{pitchState.previous_error}}</td>
				</tr>
				<tr>
					<td>Integral error</td>
					<td>{{pitchState.integral_error}}</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-15 col-md-9">
			<rb-char #pitchChar
				[y]="['current','integral_error']"
				[x]="'index'">
			</rb-char>
			<button (click)="clicked($event)"></button>
		</div>
	</div>
</div>

